html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  max-width: 900px;
  background: hsl(0, 0%, 93%);
  margin: 0 auto;
  padding: 20px;
}
