.section__buttons {
    padding: 0;
    color: hsl(180, 100%, 25%);
    text-align: center;
}

.buttons__button {
    color: hsl(180, 100%, 25%);
    background: none;
    border: none;
    transition: 0.5s;
    cursor: pointer;
}

.buttons__button:hover {
    color: hsl(180, 100%, 40%);
}

.buttons__button:disabled {
    color: hsl(0, 5%, 75%);
}

.section__addTask {
    padding: 20px;
}

@media (max-width: 767px) {
    .section__buttons {
        display: grid;
        grid-template-columns: 1fr;
    }

    .buttons__button {
        padding: 20px;
    }
}